html, body, div, h1, h2, h3 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	list-style-type: none;
	vertical-align: baseline; 
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
}
canvas {
	display: block;
  margin: 20px auto;
  margin-top: -146px;
}
canvas:before {
	width: 400px;
	height: 400px;
  margin-top: -146px;
}
img{
	border-radius: 1px;
	width: 500px;
}
.container{
  background-color: #222222;
  margin: 0 0 0 0;
  width: 100%;
}
#projects{
  margin: 0 0 0 0;
  padding: 30px 100px;
  color: #666666;
  background-color: #111111;
}
.projects{
	margin: 0 0 0 0;
	padding: 30px 100px;
	color: #666666;
	background-color: #111111;
}
h1 {
  text-align: center;
}
#title{
	width: fit-content;
	margin: 0 auto;
  font-size: 3.2em;
  animation: fadeIn 3.5s ease 1;
  text-align: left;
  color: #f5f5f5 !important;
}
#subtitle{
	width: fit-content;
	margin: 0 auto;
  font-size: 1.5em;
  animation: fadeIn 4.5s ease 1;
  text-align: left;
  color: #f5f5f5 !important;
}
main{
  width: 75%;
  float: right;
}
.dark {
	font-size: .8em;
	background-color: #111111;
}			
.wrapper.fullscreen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}
#intro {
font-family: 'Poppins', sans-serif;
background-color: #222; 
color:#f5f5f5;
background-size: cover;
background-attachment: fixed;
background-repeat: repeat;
height: 100vh;
margin: 0;
border-radius: 0;
}
#intro p {
	font-size: 1.25em;
}
.scroll-button{
	animation: blink 1s infinite alternate, fadeIn 4.5s ease 1;
	background-color: transparent;
	border: none;
	color: #f5f5f5;
	cursor: pointer;
	margin: .5em  auto;
	width: 100%;
}
.fa-3x{
	color: #f5f5f5;
	margin-left: 10px;
	margin-right: 10px;
}
svg:not(:root).svg-inline--fa {
	overflow: visible;
}
.svg-inline--fa.fa-w-14 {
	width: 0.875em;
}
.fa-2x {
	font-size: 2em!important;
}
.svg-inline--fa {
	display: inline-block;
	font-size: inherit;
	height: 1em;
	overflow: visible;
	vertical-align: -0.125em;
}
footer {
	background-color: #222222;
	padding: 10px;
}
:focus{
	outline: 0px!important;
}
.middle {
	width: 100%;
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 12px;
	left: 10px;
	text-align: center;
	border-radius: 3px;
}

.img_container:hover .image {
	filter: brightness(.8)
}

.img_container:hover .middle {
	opacity: 1;
}

.text {
	color: white;
	font-size: 16px;
	line-height: 30px;
	padding: 0px 11px;
	text-align: left;
}
.card{
	margin: 25px auto;
	width: 500px;
	border: 0px;
	background-color: #151515;
	border: 1px solid #666;
}
.card h2{
	text-align: center;
	color: #f5f5f5;
	padding: 15px;
	font-size: 1.5em;
	font-weight: 100;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;

	}
	100% {
    opacity: 1;

  }
}
@keyframes blink {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;

  }
}
@media screen and (max-width: 800px) {
	.column {
			flex: 50%;
			max-width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.column {
			flex: 100%;
			max-width: 100%;
	}
}